.movember-page {

    .text {
      font-size: 20px;
      line-height: 32px;
    }

    .arete-x-movember {
        .quote-box {
          position: relative;
          &::before {
            content: "";
            width: 60px;
            height: 60px;
            background-image: url(/images/quote.svg);
            background-size: cover;
            position: absolute;
            left: -60px;
            top:0;
          }
          padding-left: 15px;
          .quote-text {
            font-style: italic;
            font-size: 20px;
            line-height: 28px;
            color: #505D75;
          }
          .quote-author {
            text-align: right;
            font-weight: 700;
            font-style: italic;
            font-size: 20px;
            line-height: 28px;

          }
        }
      }
  .movember-donation {
    
    background-image: url(/images/arete-apparel.jpg);
    background-position: center bottom;
    background-size: cover;
    p { color: #ffffff; }
  }
  .movember-registration {
  /*  background-image: url(/images/arete-apparel.jpg);*/
    background-position: center bottom;
    background-size: cover;
    p { color: #ffffff; }

  }
  .line {
    width: 308px;
    max-width: 80%;
    height: 3px;
    background: #000000;
    display: inline-block;
    margin: 5px auto 10px;
    &.blue-line {
      background: $primary;
    }
    &.white-line {
      background: #ffffff;
    }
  }
  .team-movember, .movember-invitational, .movember-apparel, .movember-learn-more {
    padding: 60px 0;
    @media(max-width: 767px) {
      padding: 25px 0;

    }
  }
  .team-movember {
    .team-movember-season {
      max-width: 500px;
      margin: 15px auto;
      padding: 20px 15px;
      border-radius: 10px;
    }
  }
  .movember-invitational {
    .event-info {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    .event-block {
      flex-grow: 1;
      background: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      padding: 30px 25px;
      .details {
        list-style-type: none;
        li {
          position: relative;
          margin-bottom: 10px;
          line-height: 26px;
          font-size: 18px;
          &::before {
            content: "";
            content: "";
            width: 20px;
            height: 20px;
            background-image: url(/images/shield.svg);
            background-size: cover;
            position: absolute;
            left: -30px;
            top:3px;

          }
        }
      }
      .picture {
        text-align: center;
        .title {
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
      .price-block {
        background: $primary;
        box-shadow: 0px 15px 33px rgba(176, 176, 176, 0.28);
        border-radius: 5px;
        color: #fff;
        padding: 20px 30px 10px;
        display: flex;
        margin: 10px auto 30px;
        .title {
          font-weight: 700;
          margin-right: 40px;
        }
        p {
          margin-bottom: 10px;
        }
      }
      .divisions {
        font-size: 16px;
        font-weight: 500;
      }
    }

  }
  .email-us {
    background-image: url(/images/email-bg.jpg);
    background-position: center bottom;
    background-size: cover;

  }
}